h1 {
	font-size: 15px;
}
.quarter {
	width: 20%; 
	border-collapse: collapse;
	text-align: center;
	padding: 10px;
	padding-bottom: 40px;
}

table.quarter td {
	border: 1.5px solid black;
}

table.quarter td:first-child {
	font-weight: bold;
	border: none;
}

table.quarter tr:last-child {
	font-weight: bold;
}

table.tv {
	width: 50%;
	border-collapse: collapse;
	background-color: lightskyblue;
	text-align: center;
}

table.tv tbody {
	border: 3px solid blue;
}
table.tv tr.Header {
	font-weight: bold;
	border-collapse: collapse;
	border-bottom: 2px solid blue;
	border: none;
	text-align:right;
}

table.tv td.row1 {
	font-weight: bold;
	border-collapse: collapse;
	border: none;
}

table.tv td {
	border-collapse: collapse;
	border: 1.2px solid red;
}

table.tv td:first-child {
	font-weight: bold;
	border: none !important;
}

table tr:hover{
	background-color:green;
}
table td:hover{
	background-color: red !important;
	font-size: 150%;
}
table th:hover{
	background-color: red !important;
	font-size: 150%;
}